/* Write your CSS here */
.not-found-container {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-heading {
  color: white;
  font-size: 35px;
  font-family: 'Bree serif';
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .not-found-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  }
}
